{{- $profile := env "DOTFILES_PROFILE" | default "workstation" -}}
{{- $email := env "DOTFILES_EMAIL" -}}

[data]
    email = {{ $email | quote }}
    profile = {{ $profile | quote }}
    useOhMyZsh = true

[data.paths]
    local_bin = {{ joinPath .chezmoi.homeDir ".local/bin" | quote }}
    nvm = {{ joinPath .chezmoi.homeDir ".nvm" | quote }}
    oh_my_zsh = {{ joinPath .chezmoi.homeDir ".oh-my-zsh" | quote }}

[data.development]
    nvim_path = {{ joinPath .chezmoi.homeDir ".local/bin" | quote }}

{{- if eq .chezmoi.os "windows" }}
[edit]
    command = "notepad.exe"

[diff]
    command = "git"
    args = ["diff", "--no-index"]

[merge]
    command = "git"
    args = ["merge-file"]
{{- else }}
[edit]
    command = "nvim"

[diff]
    command = "nvim"
    args = ["-d"]

[merge]
    command = "nvim"
    args = ["-d"]
{{- end }}
